<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpk.wgj.mapper.DriverInfoMapper">
    <resultMap id="DriverInfoMap" type="com.dpk.wgj.bean.DriverInfo">
        <id column="driver_id" property="driverId"/>
        <result column="driver_wx_id" property="driverWxId"/>
        <result column="driver_name" property="driverName"/>
        <result column="driver_phone_number" property="driverPhoneNumber"/>
        <result column="driver_identity" property="driverIdentity"/>
        <result column="driver_location" property="driverLocation"/>
        <result column="driver_level_star" property="driverLevelStar"/>
        <result column="driver_licence" property="driverLicence"/>
        <result column="driver_status" property="driverStatus"/>
        <result column="flag" property="flag"/>
        <result column="car_id" property="carId"/>
        <result column="user_group_id" property="userGroupId"/>
    </resultMap>

    <select id="getDriverInfoByWxId" resultMap="DriverInfoMap">
        SELECT driver_wx_id, driver_id, user_group_id  FROM driver_info
        WHERE driver_wx_id = #{driverWxId}
    </select>

    <insert id="addDriverInfo" parameterType="DriverInfo" useGeneratedKeys="true" keyProperty="driverId">
        INSERT INTO driver_info (driver_wx_id, user_group_id)
        VALUES (#{driverWxId}, #{userGroupId})
    </insert>

    <select id="getDriverInfoByCarId" resultMap="DriverInfoMap">
        SELECT driver_id, driver_name, driver_phone_number, driver_location, driver_level_star, driver_status  FROM driver_info
        WHERE car_id = #{carId}
        AND driver_status = 1
    </select>

    <select id="getAllCarLocation" resultMap="DriverInfoMap">
        SELECT driver_id, driver_name, driver_location, driver_status, car_id  FROM driver_info
        WHERE driver_status = 1
    </select>

    <update id="updateDriverStatus" parameterType="DriverInfo">
        update driver_info
        <set>
            <if test="passengerStatus != null">
                driver_status = #{driverStatus,jdbcType=INTEGER},
            </if>
        </set>
        WHERE driver_id = #{driverId,jdbcType=INTEGER}
    </update>

</mapper>