<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpk.wgj.mapper.DriverInfoMapper">
    <resultMap id="DriverInfoMap" type="com.dpk.wgj.bean.DriverInfo">
        <id column="driver_id" property="driverId"/>
        <result column="driver_wx_id" property="driverWxId"/>
        <result column="driver_name" property="driverName"/>
        <result column="driver_phone_number" property="driverPhoneNumber"/>
        <result column="driver_identity" property="driverIdentity"/>
        <result column="driver_location" property="driverLocation"/>
        <result column="driver_level_star" property="driverLevelStar"/>
        <result column="driver_licence" property="driverLicence"/>
        <result column="driver_status" property="driverStatus"/>
        <result column="flag" property="flag"/>
        <result column="car_id" property="carId"/>
    </resultMap>

    <select id="getDriverInfoByCarId" resultMap="DriverInfoMap">
        SELECT driver_id, driver_name, driver_phone_number, driver_location, driver_level_star, driver_status  FROM driver_info
        WHERE car_id = #{carId}
        AND driver_status = 1    getAllDriverInfo
    </select>
    <select id="getAllDriverInfo" resultMap="DriverInfoMap">
        SELECT driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence, driver_status,car_id,driver_image_url
        FROM driver_info
    </select>
    <select id="getDriverInfoByDriverName" resultMap="DriverInfoMap">
        SELECT driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence, driver_status,car_id
        FROM driver_info
        WHERE driver_name = #{driverName}
    </select>


    <select id="getDriverInfoByDriverPhoneNumber" resultMap="DriverInfoMap">
        SELECT driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence, driver_status,car_id
        FROM driver_info
        WHERE driver_phone_number = #{DriverPhoneNumber}
    </select>
    <select id="getDriveInfoByDriverLevelStar" resultMap="DriverInfoMap">
        SELECT driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence,driver_status ,car_id
        FROM driver_info
        WHERE driver_level_star = #{driverLevelStar}
    </select>

    <select id="getDriveInfoByDriverIdentity" resultMap="DriverInfoMap">
        SELECT driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence,driver_status,car_id FROM driver_info
        WHERE driver_identity = #{arg0}
    </select>

    <select id="getDriverByMultiCondition" resultMap="DriverInfoMap">
        SELECT driver_id,driver_name,driver_wx_id, driver_phone_number,driver_identity, driver_level_star,driver_licence,driver_status,car_id FROM driver_info
        <where>
            <!--1 = 1-->
            <if test="driverInfo != null">
                <if test="driverInfo.driverName != null and driverInfo.driverName !=''">
                    AND driver_name LIKE #{driverInfo.driverName,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverWxId != null and driverInfo.driverWxId !=''">
                    AND driver_wx_id = #{driverInfo.driverWxId,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverPhoneNumber != null and driverInfo.driverPhoneNumber !=''">
                    AND driver_phone_number LIKE #{driverInfo.driverPhoneNumber,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverIdentity != null and driverInfo.driverIdentity !=''">
                AND driver_identity = #{driverInfo.driverIdentity,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverLicence != null and driverInfo.driverLicence !=''">
                AND driver_licence = #{driverInfo.driverLicence,jdbcType=VARCHAR}
                </if>

                <if test="driverInfo.driverLevelStar != 0 and driverInfo.driverLevelStar !=''">
                    AND driver_level_star LIKE #{driverInfo.driverLevelStar,jdbcType=INTEGER}
                </if>
                <if test="driverInfo.driverStatus != 0 and driverInfo.driverStatus !=''">
                    AND driver_status = #{driverInfo.driverStatus,jdbcType=INTEGER}
                </if>
            </if>
        </where>
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>

    <select id="getDriverByMultiConditionCount" resultType="int">
        SELECT COUNT(*) FROM driver_info
        <where>
            <!--1 = 1-->
            <if test="driverInfo != null">
                <if test="driverInfo.driverName != null and driverInfo.driverName !=''">
                    AND driver_name LIKE #{driverInfo.driverName,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverWxId != null and driverInfo.driverWxId !=''">
                    AND driver_wx_id = #{driverInfo.driverWxId,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverPhoneNumber != null and driverInfo.driverPhoneNumber !=''">
                    AND driver_phone_number LIKE #{driverInfo.driverPhoneNumber,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverIdentity != null and driverInfo.driverIdentity !=''">
                    AND driver_identity = #{driverInfo.driverIdentity,jdbcType=VARCHAR}
                </if>
                <if test="driverInfo.driverLicence != null and driverInfo.driverLicence !=''">
                    AND driver_licence = #{driverInfo.driverLicence,jdbcType=VARCHAR}
                </if>

                <if test="driverInfo.driverLevelStar != 0 and driverInfo.driverLevelStar !=''">
                    AND driver_level_star LIKE #{driverInfo.driverLevelStar,jdbcType=INTEGER}
                </if>
                <if test="driverInfo.driverStatus != 0 and driverInfo.driverStatus !=''">
                    AND driver_status = #{driverInfo.driverStatus,jdbcType=INTEGER}
                </if>
            </if>
        </where>
    </select>

    <insert id="insertDriverInfo" parameterType="DriverInfo" >
        INSERT INTO driver_info (driver_name,driver_wx_id, driver_phone_number,driver_identity,driver_licence)
        VALUES (#{driverName}, #{driverWxId}, #{driverPhoneNumber},#{driverIdentity},#{driverLicence})
    </insert>



    <select id="getAllCarLocation" resultMap="DriverInfoMap">
        SELECT driver_id, driver_name, driver_location, driver_status, car_id  FROM driver_info
        WHERE driver_status = 1
    </select>



</mapper>