<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpk.wgj.mapper.OrderInfoMapper">
    <resultMap id="OrderInfoMap" type="com.dpk.wgj.bean.OrderInfo">
        <id column="order_id" property="orderId"/>
        <result column="passenger_id" property="passengerId"/>
        <result column="driver_id" property="driverId"/>
        <result column="location_info" property="locationInfo"/>
        <result column="order_status" property="orderStatus"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getLocationInfoByDate" resultMap="OrderInfoMap" parameterType="LocationMessage">
        SELECT o.location_info, o.driver_id FROM order_info o, car_info c
        <where>
            (o.driver_id = c.car_driver_id_a OR o.driver_id = c.car_driver_id_b)
            <if test="carNumber != null and carNumber != ''">
                AND c.car_number = #{carNumber}
            </if>
            <if test="startTime != null">
                <![CDATA[
                    AND o.start_time >= #{startTime,jdbcType=TIMESTAMP}
                ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[
                    AND o.end_time <= #{endTime,jdbcType=TIMESTAMP}
                ]]>
            </if>
        </where>
    </select>

</mapper>